@media screen and (max-width: 991px) {
  #filters h2 {
    margin-bottom: 10px;
    flex-basis: 100%;
  }
  #accomodations-popular {
    width: 100%;
    flex-wrap: wrap;
  }
  #accomodations-popular #popular,
  #accomodations-popular #accomodations {
    flex-basis: 100%;
  }
  #accomodations-popular #popular {
    gap: 30px;
  }
  #accomodations-popular #popular article {
    width: 70%;
    align-self: center;
  }
  #activities div article {
    width: 100%;
  }
  #activities div {
    height: 185px;
    flex-basis: 100%;
  }
  #activities div:nth-of-type(1),
  #activities div:nth-of-type(3) {
    margin-bottom: 30px;
    margin-top: 30px;
    flex-basis: 100%;

  }
  #activities div:nth-of-type(2),
  #activities div:nth-of-type(4) {
    height: 400px;
    flex-basis: 100%;
  }
  #activities div:nth-of-type(2) article,
  #activities div:nth-of-type(4) article {
    /*margin-bottom: 30px;*/
    height: 185px !important;
  }
  footer div div {
    flex-basis: 100%;
  }
}
