@media screen and (max-width: 991px) {
  #filters h2 {
    margin-bottom: 10px;
    flex-basis: 100%;
  }
  #accomodations-popular {
    width: 100%;
    flex-wrap: wrap;
  }
  #accomodations-popular #popular,
  #accomodations-popular #accomodations {
    flex-basis: 100%;
  }
  #accomodations-popular #popular {
    gap: 30px;
  }
  #accomodations-popular #popular article {
    width: 70%;
    align-self: center;
  }
  #activities div article {
    width: 100%;
  }
  #activities div {
    height: 185px;
    flex-basis: 100%;
  }
  #activities div:nth-of-type(1),
  #activities div:nth-of-type(3) {
    margin-bottom: 30px;
    margin-top: 30px;
    flex-basis: 100%;

  }
  #activities div:nth-of-type(2),
  #activities div:nth-of-type(4) {
    height: 400px;
    flex-basis: 100%;
  }
  #activities div:nth-of-type(2) article,
  #activities div:nth-of-type(4) article {
    /*margin-bottom: 30px;*/
    height: 185px !important;
  }
  footer div div {
    flex-basis: 100%
  }
}
@media screen and (max-width: 766px) {

 main,
footer > div {
  
  padding-left: 0px;
  padding-right: 0px;
}
  header {
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    padding-left: 0px !important;
    padding-right: 0px !important;

    flex-direction: column;
    flex-basis: 100%;
  }
 
header nav  {
  width: 100%;
  height: 3em !important;
  
}
header nav ul {
  height: 4em;
}


header nav ul li:hover {
  border-top: none;
  border-bottom: 3px #0065fc solid;
  margin-top: 0;
}
main section#search-bar form {
  width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;

}
main section#search-bar, #filters, #activities {
  padding-left: 20px !important;
    padding-right: 20px !important;

}  

main section#search-bar form button span {
  display: none;
}
  #search-bar form button {
    border-bottom:#0065fc solid;
    border-bottom:#0065fc solid;
    border-bottom:#0065fc solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px 15px;
    background-color: #0065fc solid;
  }

main section#search-bar form button i {
  font-size:  14px;
  color: #ffffff !important;


}

#accomodations-popular {
  flex-direction: column-reverse;
  padding: 0px ;


}
#accomodations-popular #popular {
  background-color: #f2f2f2;
  border-radius: 0px !important;
  flex-basis:50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin: 0 auto;
 
  justify-content: center;

}
#accomodations-popular #popular a article {
  margin: 0;
justify-content: center;

  background-color: #f2f2f2;
  border-radius: 0px !important;
  flex-basis:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}
#accomodations-popular #accomodations {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 25px;
  flex-basis: 100%;
  padding: 25px;

}
}