@media screen and (max-width: 991px) {
    #filters h2 {
        margin-bottom: 10px;
        flex-basis:  100%;;
    }
    #accomodations-popular {
        width: 100%;
        flex-wrap: wrap;
    }
    #accomodations-popular #popular, #accomodations-popular  #accomodations {
        flex-basis: 100%;
       
    }
    #accomodations-popular #popular {
        gap:30px;
    }
    #accomodations-popular #popular article {
    width: 70%;
    align-self: center;    }

#activities div article {
    flex-basis: 100%;
    width: 100%;
    row-gap: 15px;
}   
    #activities div {
        height:  200px;
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    
    #activities div:nth-of-type(2), #activities div:nth-of-type(4) {
        height: 400px;
        flex-basis: 100%;
        row-gap: 30px;

        
}
    #activities div:nth-of-type(2) article:nth-of-type(1),
#activities div:nth-of-type(4) article:nth-of-type(2) {

    height: 200px;
}
#activities div:nth-of-type(2) article:nth-of-type(2),
#activities div:nth-of-type(4) article:nth-of-type(1) {
    height: 200px;
}

}
footer div div {
    flex-basis: 100%;
  }

