@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  border: 1px #000000 transparent;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
}
/***********************************
********     header*****************
************************************/
header,
main,
footer > div {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;


}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  max-width: 95px;
  height: auto;
}
header nav {
  flex-basis: 25%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 6em;
  align-items: center;
}

header nav ul li {
  display: flex;
  flex-basis: 50%;
  font-size: 0.9em;
  list-style-type: none;
  height: 100%;
  margin-top: 3px;
  align-items: center;
  justify-content: center;
}
header nav ul li:hover {
  border-top: 3px #0065fc solid;
  margin-top: 0;
}
header nav ul li:hover a {
  color: #0565fc;
}

header nav ul li a:visited {
  text-decoration: none;
}

/***********************************
***********search-bar***************
************************************/

#search-bar {
  display: flex;
  flex-direction: column;
}
#search-bar h1 {
  font-size: 1.1em;
  margin: 0;
}
#search-bar p {
  padding-bottom: 10px;
  padding-top: 10px;
}
#search-bar form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5em;
}
#search-bar form label {
  border-top: #f2f2f2 solid;
  border-left: #f2f2f2 solid;
  border-bottom: #f2f2f2 solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 15px;
  background-color: #f2f2f2;
}
#search-bar form label i {
  color: #000000;
}
#search-bar form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 10px 0px;
  margin: 0px 0px;
  border-style: none;
}
input#search {
  border: 2px #f2f2f2 solid;
  padding: 10px 10px 10px;
  max-width: 175px;
  width: 100%;
}
input::placeholder {
  color: #000000;
  opacity: 1;
  font-weight: bold;
}
input:focus {
  outline: none;
}
button {
  border-top: #0065fc solid;
  border-right: #0065fc solid;
  border-bottom: #0065fc solid;
  border-left: #0065fc solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
}
span {
  padding-left: 0.9em;
  background-color: #0065fc;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
}
i {
  color: #0065fc;
}
/***********************************
***********filters buttons***************
************************************/

#filters h2 {
  font-size: 0.9em;
  padding-right: 1.8em;
}
#filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
}

#filters ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
}
#filters ul li {
  display: flex;
  height: 40px;
  font-size: 0.9em;
  list-style-type: none;
  align-items: center;
  border-radius: 28px;
  font-weight: bold;
  border: 1.5px solid #dbdbdb;
  padding-right: 20px;
}
#filters ul li:hover {
  background-color: #0564fca8;
  border: 1.5px solid #dbdbdb;
}
#filters ul li i {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  justify-content: center;
  color: #0565fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -4px;
}

#filters p i {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #0065fc;
  border: 1.5px solid;
  border-color: #dadada;
  border-radius: 50%;
  font-size: 0.8em;
}
#filters p {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 1em;
}

/***********************************
*****articles accomodations-popular*
************************************/

#accomodations-popular {
  min-height: 100%;
  display: flex;
  gap: 30px;

  margin: auto;
}

.active {
  color: #0065fc;
}
.notactive {
  color: #dadada;
}

#accomodations-popular h2 {
  font-size: 1.2em;
  flex-basis: 100%;
}
#accomodations-popular h3 {
  font-size: 1em;
}

#accomodations-popular #accomodations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-basis: 67%;
  margin: 0 auto;
  padding: 25px 25px 25px 25px;
}

#accomodations-popular #accomodations article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1px 1px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #e0e0e0;
  padding: 5px 5px;
  flex-basis: 31%;
}

#accomodations-popular #accomodations article h3 {
  padding-left: 5px;
  flex-basis: 100%;
}
#accomodations-popular #accomodations article a {
  width: 100%;
}

#accomodations-popular #accomodations article a:link {
  text-decoration: none;
  list-style-type: none;
}
#accomodations-popular #accomodations article img {
  object-fit: cover;
  width: 100%;

  max-width: 100%;
  height: 110px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
#accomodations-popular #accomodations article p {
  font-size: 0.8em;
  padding-left: 5px;
  padding-top: 5px;
}

#accomodations-popular #accomodations article figure ul {
  justify-content: flex-start;
  margin-top: auto;
  display: flex;

  padding-left: 5px;
  padding-top: 5px;
}

#accomodations-popular #accomodations article figure ul li {
  list-style-type: none;
  font-size: 0.7em;
}
#accomodations-popular h4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 100%;
  font-size: 16px;
}

#accomodations-popular #popular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 25px;
  flex-basis: 33%;
  padding: 25px;
}

#accomodations-popular #popular h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000000;
}
#accomodations-popular #popular h2 i {
  color: #000000;
}

#accomodations-popular #popular article {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #e0e0e0;
  padding: 5px;
}
#accomodations-popular #popular article figure {
    height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#accomodations-popular #popular article figure img {
  object-fit: cover;
  width: 37%;
  min-width: 37%;
  
  justify-content: center;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;

  margin-right: 5px;
}
#accomodations-popular #popular article a {
  width: 100%;
}
#accomodations-popular #popular article a:link {
  text-decoration: none;
  list-style-type: none;
}

#accomodations-popular #popular article figure figcaption {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

#accomodations-popular #popular article figure figcaption ul {
  display: flex;
  margin-top: auto;
}
#accomodations-popular #popular article figure figcaption p {
  font-size: 0.8em;
  margin-top: 5px;
}

#accomodations-popular #popular article figure ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 0.7em;
  justify-content: flex-end;
  align-items: flex-end;
}

/***********************************
*****articles activites*************
************************************/

#activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 30px;
}
#activities h2 {
  font-size: 1em;
  flex-basis: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
#activities div {
  flex-basis: 22%;
  height: 415px;
}
#activities div:nth-of-type(2),
#activities div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activities div:nth-of-type(1) article,
#activities div:nth-of-type(3) article {
  height: 100%;
}
#activities div:nth-of-type(2) article:nth-of-type(1),
#activities div:nth-of-type(4) article:nth-of-type(2) {
  height: 55%;
}
#activities div:nth-of-type(2) article:nth-of-type(2),
#activities div:nth-of-type(4) article:nth-of-type(1) {
  height: 36%;
}
#activities div article figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #e0e0e0;
}
#activities div article figure img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
  object-fit: cover;
}
#activities div article figure figcaption {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
}
#activities div article figure figcaption h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
}
/***********************************
*************footer*************
************************************/

* {
  box-sizing: border-box;
}

footer {
  background-color: #f2f2f2;
  padding: 10px 10px;
}
footer > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer div div {
  flex-basis: 33%;
}
footer div div h4 {

  justify-content: flex-start;
  margin-top: 15px;
}
footer div div ul li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
a:link {
  text-decoration: none;
  list-style-type: none;
}
